@model InterestRooms.ViewModels.LoginViewModel

<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Login</h2>
        <p class="auth-subtext">Sign in to continue.</p>

        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <p class="auth-bottom-text">
            Don’t have an account?
            <a asp-controller="Account" asp-action="Register">Register</a>
        </p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}